html
{
	scroll-behavior: smooth;
}
body
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	clip-path: all;
	width: 100%;
	height: 100%;
}

a { text-decoration: none; color:inherit; } a:visited{ text-decoration: none; }

ul
{
	padding: 0;
	margin: none;
	list-style:none;
}

nav
{
	background: rgba(1,1,1,0.8);
	color: #fff;
	margin:0;
	width: 100vw;
	z-index: 100;
	position: fixed;
	font-size: 2vh;
	font-family: cursive;
	transition: 1s;
}

nav.big
{
	background: #111;
}

nav.big ul li
{
	height: 14vmin;
	line-height: 14vmin;
}

nav ul
{
	margin:0;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(20%,1fr));
	text-align: center;
	font-weight: 400;
}

nav ul li
{
	text-transform: uppercase;
	-webkit-transition: all 1s;
	line-height: 8vh;
	padding: auto;
	height: 8vh;
}

nav ul li:hover
{
	cursor: pointer;
	background: #5588ff;
}

header
{
	height: 85vh;
	background: url("../img/logo/logo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align-last: center;
	padding-top: 15vmax;
}

header h2
{
	font-family: 'Ranga', cursive;
	font-size: 5vmin;
	top: 60%;
}

#categorias
{
	background-color: #eee;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
}

.categoria
{
	-webkit-transition: all 1s;
	text-align: center;
	height: 60vh;
	margin-bottom: 8vh;
}

.categoria:hover
{
	color: #5588ff;
	cursor: pointer;
	background: #ddd;
}

img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40vh;
	width: 100%;
	object-fit: cover;
}

#experiencia
{
	 
	width: 70%;
	height: contain;
	text-align: center;
	background:  url("../img/logo/experiencia.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 5%;
	padding-bottom: 15%;
	padding-left: 15%;
	padding-right: 15%;
}

#experiencia p
{
	color: white;
	margin-top: 8%;
	font-size: 3vmin;
}

#experiencia h2
{
	color: #fff;
	font-size: 8vmin;
}

#contacto
{
	background-image: radial-gradient(circle,  rgba(85, 136, 255, 1), rgba(85, 136, 255, 0.75), rgba(85, 136, 255, 0.50), rgba(85, 136, 255, 0.25));
	color: #fff;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 0;
	text-align: center;
	font-size: 3vmax;
}

#contacto h2
{
	color: #5588ff;
	font-size: 10vmin;
	letter-spacing: 0.2em;
}

#contacto form
{
	width: 70%;
	margin: auto;
	margin-bottom: 10vh;
}

#contacto form input, #contacto form textarea
{
	resize: none;
	text-align: center;
	margin: auto;
	display: block;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	color: #5588ff;
	width: 70%;
	height: 5%;
}

#contacto form button
{
	transition: all 1.5s;
	color: #5588ff;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	width: 20%;
	height: 5vh;
	background-color: #fff;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#contacto form button:hover
{
	color: #fff;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.40);
}

#redesSociales
{
	font-size: 6vmin;
	width: 100%;
	height: 15vh;
	background: gray;
	position: relative;
	line-height: 15vh;
}

.rs{ margin-left: 8%;}

#redesSociales #wa
{
	transition: font 0.2s;
	width: 50%;
	height: inherit;
	background: #4dc247;
	position: absolute;
	padding-left: 5%;
	text-align: left;
}

#redesSociales #wa:hover
{
	font-size: 7vmin;
}

#redesSociales #fb
{
	transition: font 0.2s;
	width: 45%;
	height: inherit;
	background: #3b5998;
	position: absolute;
	margin-left: 50%;
	padding-left: 5%;
	text-align: left;
}

#redesSociales #fb:hover
{
	font-size: 7vmin;
}

button:hover
{
	cursor: pointer;
}

footer
{
	-webkit-transition: all 1s;
	margin-top: -9vh;
	text-align: center;
	color: #fff;
	line-height: 30vh;
	height: 30vh;
	background: #111;
	clear: both;
}