html
{
	scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 12px;
	background: rgb(85, 136, 255);
	position: absolute;
}
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}
html::-webkit-scrollbar-thumb {
    background: #fff;
}
body
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	clip-path: all;
	width: 100%;
	height: 100%;
}

a { text-decoration: none; color:inherit; } a:visited{ text-decoration: none; }

ul
{
	padding: 0;
	margin: none;
	list-style:none;
}

nav
{
	z-index: 3;
	background: rgba(1,1,1,0.8);
	color: #fff;
	margin:0;
	width: 100vw;
	position: fixed;
	font-size: 2vh;
	font-family: cursive;
	transition: 1s;
}

nav.big
{
	background: #111;
}

nav.big ul li
{
	height: 14vmin;
	line-height: 14vmin;
}

nav ul
{
	margin:0;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(20%,1fr));
	text-align: center;
	font-weight: 400;
}

nav ul li
{
	text-transform: uppercase;
	-webkit-transition: all 1s;
	line-height: 8vh;
	padding: auto;
	height: 8vh;
}

nav ul li:hover
{
	cursor: pointer;
	background: #5588ff;
}

header
{
	height: 85vh;
	background: url("../img/logo/logo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align-last: center;
	padding-top: 15vmax;
}

header h2
{
	font-family: 'Ranga', cursive;
	font-size: 5vmin;
	top: 60%;
}

#categorias
{
	background-color: #eee;
	display: grid;
	grid-gap: 2px;
	grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
}

.categoria
{
	-webkit-transition: color 1s, background 1s;
	text-align: center;
	height: 60vh;
	margin-bottom: 8vh;
}

.categoria:hover
{
	color: #5588ff;
	cursor: pointer;
	background: #ddd;
}

.categoria img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 40vh;
	width: 100%;
	object-fit: cover;
}

#experiencia
{
	 
	width: 70%;
	height: contain;
	text-align: center;
	background:  url("../img/logo/experiencia.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 5%;
	padding-bottom: 15%;
	padding-left: 15%;
	padding-right: 15%;
}

#experiencia p
{
	color: white;
	margin-top: 8%;
	font-size: 3vmin;
}

#experiencia h2
{
	color: #fff;
	font-size: 8vmin;
}

#contacto
{
	background-image: radial-gradient(circle,  rgba(85, 136, 255, 1), rgba(85, 136, 255, 0.75), rgba(85, 136, 255, 0.50), rgba(85, 136, 255, 0.25));
	color: #fff;
	width: 100%;
	padding-top: 3%;
	padding-bottom: 0;
	text-align: center;
	font-size: 3vmax;
}

#contacto h2
{
	color: #5588ff;
	font-size: 7vmax;
	letter-spacing: 0.2em;
}

#contacto form
{
	width: 70%;
	margin: auto;
	margin-bottom: 10vh;
}

#contacto form input, #contacto form textarea
{
	resize: none;
	text-align: center;
	margin: auto;
	display: block;
	padding-left: 2.5%;
	padding-right: 2.5%;
	border: none;
	border-radius: 20px;
	font-size: 3vmax;
	color: #5588ff;
	width: 70%;
	height: 5%;
}

#contacto form button
{
	transition: color 1s, background 1s, border 1.5s;
	color: #5588ff;
	border: none;
	border-radius: 10px;
	font-size: 2.5vmax;
	width: 15vmax;
	height: 3vmax;
	background-color: #fff;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#contacto form button:hover
{
	color: #fff;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.40);
}

#redesSociales
{
	font-size: 6vmin;
	width: 100%;
	height: 15vmin;
	background: gray;
	position: relative;
	line-height: 15vmin;
}

.rs{ margin-left: 8%;}

#redesSociales #wa
{
	transition: font 0.2s;
	width: 50%;
	height: inherit;
	background: #4dc247;
	position: absolute;
	padding-left: 5%;
	text-align: left;
}

#redesSociales #wa:hover
{
	font-size: 7vmin;
}

#redesSociales #fb
{
	transition: font 0.2s;
	width: 45%;
	height: inherit;
	background: #3b5998;
	position: absolute;
	margin-left: 50%;
	padding-left: 5%;
	text-align: left;
}

#redesSociales #fb:hover
{
	font-size: 7vmin;
}

button:hover
{
	cursor: pointer;
}

footer
{
	margin-top: -5vmax;
	color: #fff;
	font-size: 3vmax;
	height: 30vmin;
	line-height: 30vmin;
	text-align: center;
	background: #111;
	clear: both;
}

#map
{
	border:0; 
	width: 100%; 
	height: 100vh;
}

.galeriaFrame
{
	width: 100%;
	height: 93.5vh;
	border: none;
}

.cerrarSlider
{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 5vh;
	text-align: center;
	background-color: rgb(59, 89, 152, 0.75);
	color: #fff;
	text-transform: uppercase;
	transition: background 1s;
}

.cerrarSlider:hover
{
	background-color: rgb(59, 89, 152, 1);
	cursor: pointer;
}

.galeria
{
	visibility: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 1000;
	border: none;
}

.galeria.visible
{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@media only screen and (max-width:767px), 
{
	nav
	{
		font-size: 3vh;
	}
	header
	{
		height: 55vh;
	}
	.categoria
	{
		height: 80vh;
		font-size:4vmax;
	}
	#experiencia p
	{
		font-size: 4vmax;
	}
	#contacto p
	{
		font-size: 5vmax;
	}
	#contacto form button
	{
		width: 40%;
		height: 10%;
	}
}

@media only screen and (max-width:1024px)
{
	header
	{
		height: 30vh;
	}
	header h2
	{
		display: none;
	}
	#categorias
	{
		grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
		width: 97vw;
		margin: 0 auto;
	}
	.categoria
	{
		height: 70vh;
		font-size:3vmax;
		margin-bottom: 2vh;
		width: 97vw;
	}
	#experiencia
	{
		width: 90%;
		height: contain;
		padding-left: 5%;
		padding-right: 5%;
	}
	#experiencia p
	{
		font-size: 3vmax;
	}
	#map
	{
		height: 60vh;
	}
}
