*
{
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	list-style-type: none;
	outline: none;
}

body
{
	width: 100%;
	height: 100%;
	background: rgb(59, 89, 152);
}

#slider
{
	width: 100%;
	height: 90vh;
	margin-top: 2.5%;
	background: #fff;
	position: absolute;
}

#slider > *
{
	position: absolute;
	display: block;
}

img
{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	object-fit: cover;
	overflow: hidden;
}

.change
{
	transition: background 1s;
	width: 5vw;
	height: 90vh;
	z-index: 100;
	background: rgba(59, 89, 152, 0.5);
	color: rgba(255,255, 255,0.25);
}

.change:hover
{
	color: #fff;
	background: rgba(59, 89, 152, 0.75);
	cursor: pointer;
}

#right
{
	position: absolute;
	right: 0;
}

@media only screen and (max-width:1024px)
{
	#slider
	{
		height: 80%;
		width: 100%;
		background: transparent;
	}
	img
	{
		width: 100%;
		height: 80%;
		vertical-align: middle;
		object-fit: contain;
		top: 10%;
		overflow: hidden;
	}
	.change
	{
		height: 20%;
		bottom: -20%;
		width: 50%;
		font-size: 10vh;
	}
}